body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 32px;
    text-align: center;
}
html {
    height: 100%;
}
a {
    display: inline-block;
    width: 100%;
    height: 50%;
    text-decoration: none;
    background: #9CC5D3;
    color:#4768D6;
}   
a:nth-child(even) {
    background: #FBBEBD;
    color:#B22D47;
}